# python stuff
__pycache__/
*.egg-info/
*.py[cod]
.ipynb_checkpoints/
*.pyout

# backup files
*.swp

# snap
*.snap

# other
.superseded/
scripts/test_env/
NOTES.html
README.html
install_tests.txt
*.glade~
